<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="William Liu">
    <!--<link rel="shortcut icon" href="../../assets/ico/favicon.ico">-->
    {% include 'load_js.html' %}
    {% include 'load_css.html' %}
    <title>{% block head_title %}{% endblock %}Jobwaffle</title>
  </head>

  <body>

    <!-- Enter Login for Social Media accounts (e.g. Facebook, Google+, Twitter)-->


    <div class="navbar navbar-default navbar-static-top" role="navigation">

          {% if request.user.is_authenticated %}

              <li class="dropdown">
                <a href="#" class="navbar-brand dropdown-toggle" data-toggle="dropdown">{{ request.user.username }}
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <!--<li role="presentation" class="dropdown-header">Resume</li>-->

                  <li><a href="/accounts/logout">Log Out</a></li>
                </ul>
              </li>

            {% else %}
                <a id="id_log_in" class="navbar-brand" href="/accounts/login">Log In</a>
                <a id="id_sign_up" class="navbar-brand" href="/accounts/signup">Sign Up</a>
            {% endif %}


          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>


          <!--<a href="/" class="nav navbar-brand">Westendly</a>-->
          <!-- User is logged in, show Name, Log Out options -->
          <ul class="nav navbar-nav navbar-right">

          </ul>

    </div>  <!-- div navbar -->

      <div class="container">  <!-- Main Part -->
        <div class="row">
          <div class="col-md-4 navbar-collapse collapse">
            <!-- Can look into bootstrap's data-spy="affix" to make this stay in place -->
            <!-- Sidebar Content -->
            <h4>JOBS</h4>
            <ul class="list-unstyled">
            <li><a id="id_find_job" class="sidebar" href="/find_job">Find Job</a></li>
            <li><a id="id_post_job" class="sidebar" href="{% url 'post_job' %}">Post Job</a></li>
            {% if user.is_authenticated %}
              <li><a id="id_manage_job_posts" class="sidebar" href="{% url 'manage_job_posts' %}">Manage Job Posts</a></li>
            {% else %}
            {% endif %}
            </ul>
            <hr class="featurette-divider">
            <h4>RESUMES</h4>
            <ul class="list-unstyled">
            <li><a id="id_create_resume" class="sidebar" href="{% url 'resume-create' %}">Create Resume</a></li>
            {% if user.is_authenticated %}
              <li><a id="id_manage_resume" class="sidebar" href="{% url 'profile' user.username %}">Manage Resumes</a></li>
            {% else %}
            {% endif %}
            </ul>

            <hr class="featurette-divider">
          </div>
          <div class="col-md-offset-1 col-md-8">
            <!-- Body Content -->
            {% block content %}
            {% endblock %}
          </div>

      </div>

      <!-- Pagination -->
      <!--
      <div class="text-center">
          {% if is_paginated %}
            <span class>
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_previous %}
                <a href="?page= {{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            |
            {% if page_obj.has_next %}
                <a href="?page= {{ page_obj.next_page_number }}">next</a>
            {% endif %}
          {% endif %}
        </div>

        <hr class="featurette-divider">
      -->
        <!-- Footer -->

    </div>

  </body>
</html>