{% extends 'base.html' %}

{% block content %}

    <!-- Job Search -->
      <div class="starter-template">
        <div class="row center-block">
          <div class="col-sm-5">
              <input type="text" class="form-control" name="role" placeholder="What (e.g. Data Analyst)"/>
              <span class="help-block">job title, company, keywords</span>
          </div>
          <div class="col-sm-5">
              <input type="text" class="form-control" name="location" placeholder="Where (e.g. New York, NY)"/>
              <span class="help-block">city, state, or zip</span>
          </div>
          <div class="col-sm-2">
              <input class="btn btn-primary" type="submit" value="Search">
          </div>
        </div>  <!-- end row -->
      </div>  <!-- end starter-template -->


  <!-- Table -->
  <hr class="featurette-divider">


  {% if my_data %}
    <table class="table table-hover table-condensed" border="0">
        <thead class="navbar-default">
            <tr>

                <th class="col-sm-1 job-bar-filter">

                </th>

                <th class="col-sm-3 job-bar-filter">
                  <div class="dropdown col-">
                    <a href="#" class="dropdown-toggle job-bar-filter">summary
                      <span class="caret"></span>
                    </a>
                  <ul class="dropdown-menu" role="menu">
                    <form class="form-group">
                      <div>
                        <input type="text" placeholder="Enter keywords">
                        <span class="glyphicon glyphicon-search"></span>
                      </div>
                    </form>
                  </ul>
                  </div>
                </th>

                <th class="col-sm-1 job-bar-filter">
                  <div class="dropdown col-">
                    <a href="#" class="dropdown-toggle job-bar-filter">location
                      <span class="caret"></span>
                    </a>
                  <ul class="dropdown-menu" role="menu">
                    <form class="form-group">
                      <div>
                        <input type="text" placeholder="Enter keywords">
                        <span class="glyphicon glyphicon-search"></span>
                      </div>
                    </form>
                  </ul>
                  </div>
                </th>

                <th class="col-sm-1 job-bar-filter">
                  <div class="dropdown col-">
                    <a href="#" class="dropdown-toggle job-bar-filter">status
                      <span class="caret"></span>
                    </a>
                  <ul class="dropdown-menu" role="menu">
                    <form class="form-group">
                      <div>
                        <input type="text" placeholder="Enter keywords">
                        <span class="glyphicon glyphicon-search"></span>
                      </div>
                    </form>
                  </ul>
                  </div>
                </th>

                <th class="col-sm-1 job-bar-filter">
                  <div class="dropdown col-">
                    <a href="#" class="dropdown-toggle job-bar-filter">salary
                      <span class="caret"></span>
                    </a>
                  <ul class="dropdown-menu" role="menu">
                    <form class="form-group">
                      <div>
                        <input type="text" placeholder="Enter keywords">
                        <span class="glyphicon glyphicon-search"></span>
                      </div>
                    </form>
                  </ul>
                  </div>
                </th>

            </tr>
        </thead>

        <tbody>




          {% for job in my_data %}

          <tr>
            <td>
              <img class="media-object img-responsive"
                src="{{ MEDIA_URL }}images/jobs/tumblr_office2.jpg" alt="...">
            </td>
              <td class="media-heading"><strong>{{ job.title }}</strong> at <strong>{{ job.company }}</strong>
              <p>{{ job.description }}</p>
            </td>
            <td>
              <p><strong>{{job.location}}</strong></p>
            </td>
            <td>
              <p><strong>{{job.status}}</strong></p>
            </td>
            <td>
              <p><strong>${% load humanize %}{{ job.salary_min|intcomma }}</strong></p>
            </td>
          </tr>



        {% endfor %}

        {% else %}
        <p>No jobs matched search results</p>
        {% endif %}


        </tbody>
    </table>

  </div> <!-- end container jobs -->

{% endblock %}