{% extends 'base.html' %}

{% block content %}

    <!-- Job Search -->
      <div class="starter-template">
        <div class="row center-block">

        <form method="get" action="">

          <div class="col-sm-5">
              <input type="text" class="form-control" name="query_what" placeholder="What (e.g. Data Analyst)"/>
              <span class="help-block">job title, company, keywords</span>
          </div>
          <div class="col-sm-5">
              <input type="text" class="form-control" name="query_where" placeholder="Where (e.g. New York, NY)"/>
              <span class="help-block">city, state, or zip</span>
          </div>
          <div class="col-sm-2">
              <input class="btn btn-primary" type="submit" value="Search">
          </div>
        </div>  <!-- end row -->

        </form>

      </div>  <!-- end starter-template -->

  <br>
  <br>
  <br>

  {% if search_results %}
    <table class="table table-hover table-condensed" border="0">
        <thead class="navbar-default">
            <tr>

                <th class="col-sm-1 job-bar-filter">

                </th>

                <th class="col-sm-3 job-bar-filter">
                  <div class="dropdown col-">
                    <a href="#" class="dropdown-toggle job-bar-filter">summary
                      <span class="caret"></span>
                    </a>
                  <ul class="dropdown-menu" role="menu">
                    <form class="form-group">
                      <div>
                        <input type="text" placeholder="Enter keywords">
                        <span class="glyphicon glyphicon-search"></span>
                      </div>
                    </form>
                  </ul>
                  </div>
                </th>

                <th class="col-sm-1 job-bar-filter">
                  <div class="dropdown col-">
                    <a href="#" class="dropdown-toggle job-bar-filter">location
                      <span class="caret"></span>
                    </a>
                  <ul class="dropdown-menu" role="menu">
                    <form class="form-group">
                      <div>
                        <input type="text" placeholder="Enter keywords">
                        <span class="glyphicon glyphicon-search"></span>
                      </div>
                    </form>
                  </ul>
                  </div>
                </th>

                <th class="col-sm-1 job-bar-filter">
                  <div class="dropdown col-">
                    <a href="#" class="dropdown-toggle job-bar-filter">status
                      <span class="caret"></span>
                    </a>
                  <ul class="dropdown-menu" role="menu">
                    <form class="form-group">
                      <div>
                        <input type="text" placeholder="Enter keywords">
                        <span class="glyphicon glyphicon-search"></span>
                      </div>
                    </form>
                  </ul>
                  </div>
                </th>

                <th class="col-sm-1 job-bar-filter">
                  <div class="dropdown col-">
                    <a href="#" class="dropdown-toggle job-bar-filter">salary
                      <span class="caret"></span>
                    </a>
                  <ul class="dropdown-menu" role="menu">
                    <form class="form-group">
                      <div>
                        <input type="text" placeholder="Enter keywords">
                        <span class="glyphicon glyphicon-search"></span>
                      </div>
                    </form>
                  </ul>
                  </div>
                </th>

            </tr>
        </thead>

        <tbody>

          {% for search_result in search_results %}

          <tr>
            <td>
              <img class="media-object img-responsive"
                src="{{ MEDIA_URL }}images/jobs/tumblr_office2.jpg" alt="...">
            </td>
              <td class="media-heading"><strong>{{ search_result.title }}</strong> at <strong>{{ search_result.company }}</strong>
              <p>{{ search_result.description }}</p>
            </td>
            <td>
              <p><strong>{{search_result.location}}</strong></p>
            </td>
            <td>
              <p><strong>{{search_result.status}}</strong></p>
            </td>
            <td>
              <p><strong>${% load humanize %}{{ search_result.salary_min|intcomma }} -
              ${% load humanize %}{{ search_result.salary_max|intcomma }}</strong></p>
            </td>
          </tr>
        {% endfor %}
        {% else %}
        <p>No jobs matched search results</p>
        {% endif %}


        </tbody>
    </table>

  </div> <!-- end container jobs -->
{% endblock %}
