{% extends 'base.html' %}

{% block content %}


    <div>
      <p>Job Postings: {{ user.first_name }} {{ user.last_name }}</p>
    </div>

    <hr class="featurette-divider">
    <table class="table table-hover table-condensed" border="1">
        <thead class="navbar-default">
          <tr>
          <th class="col-sm-1 job-bar-filter">job posts
          </th>
          </tr>
        </thead>

        <!--Body content-->
        <tbody>
          {% if object_list %}
            {% for job in object_list %}
              <tr>
                <td>
                <div>
                    <p class="col-sm-11">Job: <strong>{{ job.title }}</strong> at <strong>{{ job.company }} </strong></p>
                    <a href="job/list/{{ job.id }}">
                        <span class="glyphicon glyphicon-search"></span></a>
                    <a href="job/update/{{ job.id }}">
                        <span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="job/delete/{{ job.id }}">
                        <span class="glyphicon glyphicon-remove"></span></a>
                </div>
                <div>
                    <p class="col-sm-12">(Updated: {% load humanize %}{{ job.timestamp_updated|naturaltime }})</p>
                    <p class="col-sm-12">Job Status: {{ job.status }}</p>
                    <p class="col-sm-12">Job Description: {{ job.description }}</p>
                </div>

                </td>
              </tr>
            {% endfor %}
          {% else %}
            <h4>No jobs posted yet</h4>
          {% endif %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{% url 'job-create' %}">Create job</a>



{% endblock %}
