{% extends 'base.html' %}

{% comment %}
Multi line comment
{% endcomment %}

{% block content %}


{% if my_data %}
    <p>Job Listings</p>  {# List jobs found in search #}

    <div class="table-responsive">
    <table class="table" border="2">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Salary</th>
            </tr>
        </thead>
    {% for job in my_data %}
        <tbody>
            <tr>
                <td> {{ job.title }} </td>
                <td> {{ job.description }} </td>
                <td> {{ job.salary_min }} -  {{ job.salary_max }}</td>
            </tr>
        </tbody>
    {% endfor %}
    </table>
    {% else %}
        <h2>No jobs entered yet</h2>
    {% endif %}

    </div>

{% endblock %}
