<!-- Bootstrap core CSS -->
<!--<link href="/static/css/bootstrap.css" rel="stylesheet">-->
<!--<link href="http://s3.amazonaws.com/jobwaffle/css/bootstrap.css" rel="stylesheet">-->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">

<!-- Redactor CSS -->
<!--<link href="/static/redactor/css/redactor.css" rel="stylesheet">-->
<link href="https://s3.amazonaws.com/jobwaffle/redactor/css/redactor.css" rel="stylesheet">

<!-- Custom styles for this template -->
<!--<link href="/static/css/starter-template.css" rel="stylesheet">-->
<link href="https://s3.amazonaws.com/jobwaffle/css/starter-template.css" rel="stylesheet">
