{% extends 'base.html' %}

{% block content %}

    <div class="container">
      <div class="starter-template">
        <form>
          <h2 class="lead">
          I am looking to
            <select>
              <option>get a job</option>
              <option>hire someone</option>
            </select>
          doing <input type="text" name="role" placeholder="Job Title, Keywords"/>
          <br>
          <br>
          for
            <input type="text" name="salary" placeholder="Salary">
          in <input type="text" name="location" placeholder="City, State or ZIP"/>
          <input class="btn btn-danger" type="submit" value="Search">
          </h2>
        </form>
      </div>

    </div><!-- /.container -->

    <div class="container marketing">

        <hr class="featurette-divider">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Employee</h2>
          <p>I'm no longer wasting my time applying to a bunch of jobs that won't even list their salaries!</p>
          <p><a class="btn btn-default" href="#" role="button">View story &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Employer</h2>
          <p>I got 1,000 job applicants in 5 hours.  The algorithm helped me quickly sort through resumes and find the cream of the crop!</p>
          <p><a class="btn btn-default" href="#" role="button">View story &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
          <h2>Employee</h2>
          <p>I see feedback on the jobs I applied to as soon as it happens!  I don't have to wait around wondering if they even looked at my resume.</p>
          <p><a class="btn btn-default" href="#" role="button">View story &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      <!-- End 3 columns of text -->

{% endblock %}
